body,
html {
  width: 500px;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  background-color: #780116;
  margin: 0px;
  position: fixed;

}

a {
  font-family: "brother-1816", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #F5F1DC;
  text-decoration: none;

  display: block;
  transition: 0.3s;
  padding: 8px 8px 8px 32px;
}
 a:hover {
    color: #E36414;
  }

p,
label {
  font-family: "brother-1816", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #102022 !important;
  line-height: 30px;
  padding-bottom: 10px;

}

h1 {
  font-family: "Galada";
  font-style: normal;
  line-height: 20px;
  color: #102022 !important;
  font-weight: 400;
  font-size: 40px;
}

h2 {
  font-family: "Galada";
  font-style: normal;
  line-height: 20px;
  color: #102022 !important;
  font-weight: 400;
}

h3 {
  font-family: "Galada";
  font-style: normal;
  line-height: 20px;
  color: #102022 !important;
  font-weight: 400;
}

/* Hero banner styling */


.primary_button {
  font-size: 20px;
  background-color: #780116;
  color: #F5F1DC !important;
  border: none;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 32px;
  padding: 10px 25px 10px 25px !important;
  margin-top: 20px;
}

.secondary_button {
  font-size: 20px;

  background-color: transparent;
  color: #F5F1DC !important;
  border: 3px solid #F5F1DC;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 32px;
  padding: 10px 25px 10px 25px !important;
  margin-top: 20px;
}



footer {
  background-color: #F5F1DC;
  color: #780116 !important;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px !important;
  margin-top: 40px;

  align-items: center;
}


footer img {
  width: 70%;
}

.fa-solid {
  font-size: 32px !important;
}


.logo {
  width: 50%
}
