* {
  box-sizing: border-box;


}

html,
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.app {
  flex: 1 0 auto;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


.footerBar {
  text-align: center !important;
  display: flex;
  margin-bottom: 0px;
  color: #F5F1DC !important;
  align-items: center;
  margin: 0px;
  padding: 10px;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #780116;
}


.footerContent {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #780116;
  text-align: center !important;
  justify-content: space-between;
}

.footerContent a {
  padding: 10px;
}


header {
  background-color: #780116;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-bottom: 20px;

}

.fa-solid {
  font-size: 32px !important;
  color: #F5F1DC;
  padding-top: 13px;
}

.logo {
  width: 300px;

}

.hero {
  background-image: linear-gradient(rgba(245, 241, 220, 0.4), rgba(245, 241, 220, 0.4)), url("../img/Club_Fritique_heerlijke_Snacks.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 20px;
}

.textHero {
  text-align: left !important;
  padding: 20px;
}

.merch {
  padding: 20px;
  margin-bottom: 20px;
}


.container {
  text-align: center;
  /* box-shadow: 10px 10px 5px; */
  border-radius: 32px;
  border: 2px solid rgba(120, 1, 22, 0.2);
  margin-top: 20px;
  padding-bottom: 20px;
}

.container .stickers {
  width: 250px;
  height: 265px;
  object-fit: cover;
}

.club {
  display: flex;


}

.container img {
  width: 70%;
  border-radius: 16px;

}

.wipes,
.cards {
  width: 50%;
}

.wipes img,
.cards img {
  width: 80% !important;
}

.shop {
  text-align: center !important;
  padding: 20px;
}

.topShop {
  text-align: center !important;
  margin-bottom: 70px;


}

.topShop a {
  color: #780116 !important;
}

.topShop .fa-solid {
  color: #780116 !important;

}

.itemRow {
  align-items: stretch;

}

.shopItem {
  text-align: left;
  box-shadow: -5px -5px 10px #10202277;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 30px;
}

.shopItem img {
  width: 90%;
  height: 50%;
  border-radius: 16px;
  object-fit: cover;

}

.shopItem .primary_button {
  margin-top: auto;

}

.shopItem p {
  margin-bottom: -10px;
  font-size: 16px;
  line-height: 20px;
}

.shopItem .price {
  margin-bottom: 20px;
  font-size: 22px !important;
}

.rating h1 {
  text-align: center;
  padding: 20px;
}


.ratingLine {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.stars {
  display: flex;
}

.stars img {
  width: 5vw;
}

.stars p {
  text-align: right !important;
  align-items: right !important;
}

.topRating h4 {
  text-align: center;
  padding-bottom: 20px;
}

.topRating {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  border-radius: 32px;
  border: 2px solid rgba(120, 1, 22, 0.2);
  margin-top: 40px !important;
  ;
  margin: 20px;

}

.rateComments .description {
  margin-top: -20px;
  font-size: 16px;
  line-height: 20px;
}

.rateComments .user {
  margin-top: -15px;
  font-size: 15px;
  line-height: 20px;
  font-style: italic;

}

.rateComments .stars {
  width: 30px;
  margin: -5px !important;
  margin-top: -15px !important;
  padding: 0% !important;
}

.rateComments {
  margin-bottom: 50px !important;
}

.crunchOff {
  border-radius: 16px;
  border: solid 3px #780116;
  margin-bottom: 20px;

}

.rateEvent {
  text-align: center;
  padding: 20px;
}

a {
  font-family: "brother-1816", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #F5F1DC;
  text-decoration: none;

  display: block;
  transition: 0.3s;
  padding: 8px 8px 8px 32px;
}

a:hover {
  color: #E36414;
}

p {
  font-family: "brother-1816", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #102022 !important;
  line-height: 30px;
  padding-bottom: 10px;

}

h1 {
  font-family: "Galada";
  font-style: normal;
  line-height: 40px;
  color: #102022 !important;
  font-weight: 400;
  font-size: 40px;
}

h2 {
  font-family: "Galada";
  font-style: normal;
  line-height: 20px;
  color: #102022 !important;
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-family: "brother-1816";
  font-style: normal;
  line-height: 20px;
  color: #102022 !important;
  font-weight: 600;
}

h4 {
  font-family: "brother-1816";
  font-style: normal;
  line-height: 28px;
  color: #102022 !important;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0px;
}

/* Hero banner styling */


.primary_button {
  font-size: 20px;
  background-color: #780116;
  color: #F5F1DC !important;
  border: none;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 32px;
  padding: 10px 25px 10px 25px !important;
  margin-top: 20px;

}

.secondary_button {
  font-size: 20px;

  background-color: transparent;
  color: #F5F1DC !important;
  border: 3px solid #F5F1DC;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 32px;
  padding: 10px 25px 10px 25px !important;
  margin-top: 20px;
}

@media (min-width: 780px) and (max-width: 1800px) {
  .disclaimer {
    padding: 40px;
    border: solid 3px #780116;
    margin: 60px;
    border-radius: 30px;
    text-align: center;

  }

  .disclaimer h2 {
    font-size: 40px;
    line-height: 45px;
    padding-bottom: 30px;;
  }

  .disclaimer img {
    width: 40%;
    border-radius: 16px;
  }

  .app {
    display: none;
    visibility: hidden !important;
  }

}

@media (max-width: 780px) {
  .disclaimer {
    display: none;
  }

}