*{
  box-sizing: border-box;


}

html, body {
   min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.app {
  flex: 1 0 auto;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

footer {
    text-align: center !important;
flex-shrink: 0;

margin-bottom:0px;
  color: #F5F1DC !important;
 align-items: center;
 margin:0pc;
 padding:20px;
  margin-top: 713px !important;
  margin-left:500px;
  position: fixed;
}


.footerContent {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  align-items: center;
  padding: 20px 50px;
    background-color: #780116;
}


header {
  background-color: #780116;
  margin: 0px;
 display: flex;
 gap:250px;
 align-items: center;
 padding:16px;
 padding-bottom: 20px;

}
.fa-solid {
  font-size: 32px !important;
  color:#F5F1DC;
  padding-top:13px;
}

.logo{
  width: 300px;

}

.hero{
  background-image: linear-gradient(rgba(245, 241, 220,0.4), rgba(245, 241, 220,0.4)), url("../img/Club_Fritique_heerlijke_Snacks.jpg");
  height: 200px; 
  background-repeat: no-repeat; 
   background-size: cover;
   text-align: center;
   padding-top: 20px;
}

.textHero{
  text-align: left !important;
  padding:20px;
}

.merch{
    padding:20px;
      margin-bottom:100px;
}

.container{
  text-align: center;
  /* box-shadow: 10px 10px 5px; */
  border-radius: 32px;
  border: 2px solid rgba(120, 1, 22, 0.2);
  margin-top:20px;
  padding-bottom: 20px;
}
.container .stickers{
  width:250px;
  height:265px;
  object-fit: cover;
}

.club{
  display: flex;


}
.container img{
  width:70%;
  border-radius: 16px;

}

.wipes, .cards{
  width: 50%;
}

.wipes img, .cards img{
  width: 80% !important;
}
a {
  font-family: "brother-1816", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #F5F1DC;
  text-decoration: none;

  display: block;
  transition: 0.3s;
  padding: 8px 8px 8px 32px;
}
 a:hover {
    color: #E36414;
  }

p{
  font-family: "brother-1816", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #102022 !important;
  line-height: 30px;
  padding-bottom: 10px;

}

h1 {
  font-family: "Galada";
  font-style: normal;
  line-height: 20px;
  color: #102022 !important;
  font-weight: 400;
  font-size: 40px;
}

h2 {
  font-family: "Galada";
  font-style: normal;
  line-height: 20px;
  color: #102022 !important;
    font-size: 32px;
  font-weight: 400;
}

h3 {
  font-family: "brother-1816";
  font-style: normal;
  line-height: 20px;
  color: #102022 !important;
  font-weight: 600;
}

/* Hero banner styling */


.primary_button {
  font-size: 20px;
  background-color: #780116;
  color: #F5F1DC !important;
  border: none;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 32px;
  padding: 10px 25px 10px 25px !important;
  margin-top: 20px;
 
}

.secondary_button {
  font-size: 20px;

  background-color: transparent;
  color: #F5F1DC !important;
  border: 3px solid #F5F1DC;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 32px;
  padding: 10px 25px 10px 25px !important;
  margin-top: 20px;
}







